<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/header.html') %>
    <link rel="stylesheet" href="/css/estilos_actualizar.css">
</head>

<body>
    <div class="container mt-4">
        <!-- <a href="/"class="btn btn-primary" >Atrás</a> -->
        <h1>Actualizar Curso</h1>
        <form method="post" action="/alumnos_cursos/act/<%= alucur[0].codalu %>/<%= alucur[0].codcur %>">
            <div class="mb-3">
                <label for="alumno">Codigo Alumno</label>
                <input type="text" name="alumno" value="<%= alucur[0].codalu %>" class="form-control" disabled> 
            </div>
            <div class="mb-3">
                <label for="curso">Codigo Curso</label>
                <input type="text" name="curso" value="<%= alucur[0].codcur %>" class="form-control" disabled> 
            </div>
            <div class="mb-3">
                <label for="nota">Credito</label>
                <input type="text" name="nota" value="<%= alucur[0].credito %>" class="form-control">
            </div>     
            <button type="submit" class="btn btn-success">Actualizar</button>
        </form>

    </div>
</body>