<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/header.html') %>
    <link rel="stylesheet" href="/css/estilos_index.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="text-center">Buscar Notas Alumno</h1>
        
        <form method="get" action="/buscar">
            <div class="mb-3">
                <label for="nombre">Codigo</label>
                <input type="text" name="codalu" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</body>
</html>