<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/header.html') %>
    <link rel="stylesheet" href="/css/estilos_index.css">
</head>

<body>
    <div class="container mt-4">
        <h1><%= titulo%></h1>
        <a href="/alumnos" class="btn btn-success mx-2" >Alumnos</a>
        <a href="/cursos" class="btn btn-success mx-2" >Cursos</a>
        <a href="/alumnos_cursos" class="btn btn-success mx-2" >Alumnos Cursos</a>
        <a href="/buscar_notas" class="btn btn-success mx-2" >Consultar Notas</a>
    </div>
</body>
</html>